.detail_container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail_icon {
    width: 40%;
    min-width: 620px;
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.detail_header {
    width: 50%;
    min-width: 620px;
    height: 590px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper_selectItem_title {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.selectItem_title_foreword {
    width: 80%;
    min-width: 620px;
    font-weight: bolder;
    font-size: 20px;
    color: grey;
    padding-bottom: 10px;
}

#selectItem_title {
    width: 80%;
    min-width: 620px;
    font-size: 24px;
    font-weight: bolder;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    word-break: keep-all;
}

.selectItem_info {
    display: flex;
    width: 80%;
    height: 800px;
    min-width: 620px;
    padding-top: 30px;
}

.selectItem_info > img {
    width: 50%;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
}

.selectItem_info > ul {
    width: 50%;
    margin: 0px 10px;
}

.selectItem_info > ul > li {
    padding-bottom: 10px;
    display: flex;
}

.selectItem_info > ul > li > span {
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.selectItem_info > ul > li > span:first-child {
    display: inline-block;
    width: 100px;
    margin: 0px 10px 10px 0px;
}

.selectItem_info > ul > li > span:last-child {
    display: inline-block;
    width: calc(100% - 120px);
}

.map_container {
    width: 40%;
    min-width: 620px;
    height: 510px;
    display: flex;
    flex-direction: column;
}

.wrapper_address {
    width: 100%;
    min-width: 620px;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.selectItem_address_foreword {
    width: 100%;
    min-width: 620px;
    font-weight: bolder;
    font-size: 20px;
    color: grey;
    padding-bottom: 10px;
}

.wrapper_address > span {
    font-weight: bolder;
    font-size: 24px;
}

.wrapper_address > span:first-child {
    padding-right: 10px;
}
